<h2>Perfil de Usuario</h2>
<p>Nombre: {{user.first_name}}</p>
<p>Apellido: {{user.last_name}}</p>
<p>Edad: {{user.age}}</p>
<form action="/api/sessions/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</form>

<button id="showProducts">Ver Productos</button>
    <form action="/documents" method="post" enctype="multipart/form-data">
        <label for="archivo">Selecciona un archivo:</label>
        <input type="file" id="archivos" name="archivos" multiple="true">
        <button type="submit">Subir archivo</button>
    </form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/profileUser.js"></script>