<section style="max-width: 0%;"></section>
<div>
    <h1>Modificando rol</h1>

    <label for="rol"> Seleccione Rol</label>
    <select name="select">
        <option value="0">Selecciona un rol...</option>
        <option value="Premium">Premium</option>
        <option value="User">User</option>
    </select>

    <button type="submit" id="btn-send-update">Enviar</button>
    <button type="button" id="btn-back">Volver</button>
</div>
</section>