<div style="display:flex;align-content: center;justify-content: end;text-align: center;align-items: center;gap: 10px 10px;"></div>
    <div>
    <h2>Bienvenido</h2>
    </div>

    <div>
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    </div>
<div>
    <form action="/api/sessions/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</div>

<div style="display: flex;"></div>
    <div style="width: 50%;">
        <h1>Usuarios</h1>
        <div>
            <div id="DivUsers">

            </div>

        </div>
    </div>
</div>